.carousel .slide img {
    max-height: 600px; 
    max-width: 1000px;
}
.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}
.carousel.carousel-slider .control-arrow {
        width: 48%;
}
#legend1, #legend2, #legend3, #legend4, #legend5, #legend6, #legend7, #legend8, #legend9{
    font-size: 24px;
}